certifi==2020.6.20
cloudpickle==1.6.0
cycler==0.10.0
dask==2.6.0
decorator==5.1.1
easydict==1.6
future==0.18.2
importlib-resources==3.2.1
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.4
nibabel==2.1.0
numpy==1.16.1
opencv-python==4.4.0.42
pandas==0.25.3
Pillow==7.2.0
protobuf==3.19.4
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
scikit-image==0.12.3
scipy==1.1.0
six==1.16.0
tensorflow-gpu==1.1.0
tensorlayer==1.7.2
toolz==0.11.2
tqdm==4.64.0
Werkzeug==1.0.1
zipp==1.2.0
